/* color */
$color-highlight: #d7ff2b; // 포인트 색상
$color-dark: #545454;
$color-gray: #737373;
$color-semi-light-gray: #a6a6a6;
$color-light-gray: #b2b2b2;
$color-cloudy: #efefef;
$color-light: white;

/* 텍스트 */
$numbers-text-xxl-size: 2.25rem;
$numbers-text-xl-size: 1.625rem;
$numbers-text-l-size: 1.375rem;
$numbers-text-m-size: 1.125rem;
$numbers-text-s-size: 1rem;
$numbers-text-xs-size: 0.875rem;
$numbers-letter-spacing: -1.0px;
$numbers-letter-title-spacing: 1.5px;
$numbers-font-weight: 800;
$numbers-title: 5rem;