/* Breakpoints */
$breakpoint-laptop: 1400px;
$breakpoint-tablet: 1024px;
$breakpoint-mobile: 769px;

// 노트북일 때
@mixin laptop{
  @media screen and (max-width: #{$breakpoint-laptop}){
    @content;
  }
}

// 태블릿일 때
@mixin tablet{
  @media screen and (max-width: #{$breakpoint-tablet}){
    @content;
  }
}

// 모바일일 때
@mixin mobile{
  @media screen and (max-width: #{$breakpoint-mobile}){
    @content;
  }
}